$green: #7CBF39;
$baby-blue: #6DD4E2;
$tan: #DDD896;
$yellow: #F3AE2A;
$orange: #D95019;
$turquoise: #71C5D0;
$charcoal: #515e78;

$roboto: 'Roboto',
sans-serif;

$tablet: "(min-width: 640px)";
$desktop: "(min-width: 1024px)";

body {
  width: 100%;
  font-family: $roboto;
}

header {
  height: 2em;
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-color: $baby-blue;
  @media screen and #{$tablet} {
    height: 7em;
    margin-bottom: -3em;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100% 90%;
  }
  @media screen and #{$desktop} {
    height: 5.5em;
    margin-bottom: -3em;
    padding: 0;
    background-size: 10%;
    background-repeat: repeat;
  }
}

nav {
  text-align: center;

  ul {
   -moz-box-shadow:    inset 0 0 5px #000000;
   -webkit-box-shadow: inset 0 0 5px #000000;
   box-shadow:         inset 0 0 5px #000000;
    list-style-type: none;
    margin: -1em auto 0 auto;
    padding: 1em;
    background-color: $charcoal;
    li {
      display: inline-block;
      margin: 0;
      a {
        padding: .5em .9em;
        margin: 0 -0.1em;
        text-decoration: none;
        color: #FFF;
      }
    }
  }
  @media screen and #{$tablet} {
    ul {
      padding: 1em 1.5em;
      li {
        a {
          margin: 0 1em;
          padding: 2em 2em;
        }
      }
    }
  }
  @media screen and #{$desktop} {
    text-align: right;
    ul {
      padding: 1.5em 2em;
      li {
        a {
          margin: 0 1em;
          padding: 2em 0;
          &:hover {
            color: $orange;
            text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
          }
        }
      }
    }
  }
}

section.intro {
  background: -moz-radial-gradient(center, ellipse cover, #71C5D0 0%, #71C5D0 35%, #008080 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #71C5D0), color-stop(35%, #71C5D0), color-stop(100%, #008080)); /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, #71C5D0 0%, #71C5D0 35%, #008080 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, #71C5D0 0%, #71C5D0 35%, #008080 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, #71C5D0 0%, #71C5D0 35%, #008080 100%); /* ie10+ */
  background: radial-gradient(ellipse at center, #71C5D0 0%, #71C5D0 35%, #008080 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71C5D0', endColorstr='#008080',GradientType=1 ); /* ie6-9 */
  margin: 0;
  margin-top: -.5em;
  border-bottom: 2px solid #fff;
  height: 15em;
  .logo_large {
    display: block;
    margin: 2% auto;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  h1 {
    font-size: 1.4em;
    margin: .5em;
    margin-top: 0;
    padding-top: .7em;
    line-height: 1.5em;
  }
  p {
    text-align: right;
    padding: 0 2em 2em 0;
    margin: 0;
  }
  @media screen and #{$tablet} {
    background-color: $turquoise;
      height: 21em;
      img {
        display: block;
        margin: 2% auto;
      }
  }
  @media screen and #{$desktop}{
    height: 21em;
    .logo_large {
      width: 700px;
      height: 220px;
      display: block;
      margin: 0% auto;
    }
  }

}

section.mid-section {
  background-color: $tan;
  border-bottom: 2px solid #fff;
  h1 {
    margin: 0;
    padding: .9em;
    font-size: 1.2em;
    display: inline-block;
  }
  span {
    margin: .7em 3em 0 0;
    padding: 0;
    height: 40px;
    float: right;
    width: 44px;
    border-radius: 50%;
  }
}

section.action {
  height: 30em;
  background-image: url('../img/pipes_bg_sm.png');
  background-size: cover;
  text-align: center;
  //url('../img/bird_sprite.png') -88px 5px
  //url('../img/bird_sprite.png') -44px 5px 2px 7px
  #bird-flap {
    position: absolute;
    left: -50px;
    background: url('../img/bird_sprite.png') 2px 7px;
    background-size: 281%;
    background-repeat: no-repeat;
    width: 39px;
    height: 32px;
    &:hover {
      background: url('../img/bird_sprite.png') -78px 5px;
      background-size: 300%;
      background-repeat: no-repeat;
    }
  }
  h2 {
    margin: 0;
    font-size: 1.7em;
    padding-top: 4em;
    color: $yellow;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  }

  @media screen and #{$tablet} {
    background-position: 50% 20%;
    background-image: url('../img/pipes_bg.jpg');
    h2 {
      font-size: 3em;
      padding-top: 3.2em;
    }
    p {
      margin-top: 3.5em;
      font-size: 1.2em;
    }
  }
  @media screen and #{$desktop} {
    background-position: 50% 65%;
    background-image: url('../img/pipes_bg.jpg');
    h2 {
      font-size: 3em;
      padding-top: 3.5em;
    }
    p {
      margin-top: 3.5em;
      font-size: 1.2em;
    }
  }
}

section.game-info {
  height: 26em;
  padding: 3.2em;
  text-align: center;
  
  background: #74be2f; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #74be2f 0%, #74be2f 0%, #74be2f 1%, #74be2f 1%, #ffffff 83%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#74be2f), color-stop(0%,#74be2f), color-stop(1%,#74be2f), color-stop(1%,#74be2f), color-stop(83%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #74be2f 0%,#74be2f 0%,#74be2f 1%,#74be2f 1%,#ffffff 83%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #74be2f 0%,#74be2f 0%,#74be2f 1%,#74be2f 1%,#ffffff 83%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #74be2f 0%,#74be2f 0%,#74be2f 1%,#74be2f 1%,#ffffff 83%); /* IE10+ */
  background: linear-gradient(135deg, #74be2f 0%,#74be2f 0%,#74be2f 1%,#74be2f 1%,#ffffff 83%); /* W3C */
  
  
  ul {
    list-style-type: none;
    padding: 0;
    
    li {
      background-color: #fff;
      padding: .5em;
      border: 3px solid $baby-blue;
      border-radius: 5%;
      margin-bottom: 1em;
      display: none;
      h2 {
        margin: 0;
        color: #000;
        padding-top: .5em;
        padding-left: .5em;
        background-color: $tan;
      }
      p {
       display: none; 
      }
    }
  }
   @media screen and #{$tablet} {
    height: 21em;
    padding: 1em;
      ul {
        text-align: left;

          li {
            h2 {
              margin: 0;
              color: #000;
              padding-top: .5em;
              padding-left: .5em;
              background-color: $tan;
            }
            margin: 1em auto;
            width: 88%;
            padding: .2em;
            border-radius: 0%;
          }
          p {
            padding: 0 2em;
            line-height: 2em;
          }
        }
   }
   @media screen and #{$desktop} {
    padding: 4em 0em;
    height: 36em; 
      ul {
        margin-left: 5.5%;
          li {
            width: 28%;
            padding: .5em .5em;
            display: none;
            margin: 0 1.5em;
            line-height: 1.9em;
            max-height: 21em;
            float: left;
            border-radius: 5%;
          h2 {
            color: $baby-blue;
            background-color: #fff;
            border-bottom: 2px solid $charcoal;
            padding-bottom: .5em;
            width: 100%;
            margin-bottom: 0;
            }
            p {
            line-height: 1.6em;
            display: block;
          }
          }
          
        }
      }
  }

section.social {
  text-align: center;
  background-color: $tan;
  -moz-box-shadow:  inset 4px 2px -2px #000000;
  -webkit-box-shadow: inset 4px 2px -2px #000000;
  box-shadow: inset 4px 2px -2px #000000;
  h2 {
    margin-top: 0;
    padding-top: 1.5em;
    display: hidden;
    opacity: 0;
  }
  ul {
    list-style-type: none;
    margin-top: 2.5em;
    padding: 0;
    padding-bottom: 2em;
    li {
      display: inline-block;
      margin: 0 3.5em;

      a {
        color: blue;
      }
    }
  }
  @media screen and #{$tablet} {
  -moz-box-shadow:  inset 4px 2px -2px #000000;
  -webkit-box-shadow: inset 4px 2px -2px #000000;
  box-shadow: inset 4px 2px -2px #000000;
    height: 17em;
    h2 {
      padding-top: 2em;
    }
    ul {
      margin-top: 0;
    }
    li img {
      margin: 3em;
    }
  }
  @media screen and #{$desktop} {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
    height: 27em;
    h2 {
      padding-top: 2em;
      font-size: 2em;
    }
    li {
      border-radius: 10%;
      img {
        margin-top: 5em;
        width: 40%;
      }
    }
  }
}

footer {
  background-image: url('../img/game_over_sm.png');
  background-size: 89%;
  background-position: 40%;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 13em;
    @media screen and #{$tablet} {
      background-image: url('../img/game_over.png');
      background-position: 50% 50%;
      background-size: 50%;
        height: 20em;
    }
    @media screen and #{$desktop} {
      background-image: url('../img/game_over.png');
      background-position: 50% 50%;
      background-size: 50%;
        height: 25em;
    }
}
