$green: #7CBF39;
$baby-blue: #6DD4E2;
$tan: #DDD896;
$yellow: #F3AE2A;
$orange: #D95019;
$turquoise: #71C5D0;
$roboto: 'Roboto',
sans-serif;
//fix these
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';
body {
  width: 100%;
  height: 50em;
  font-family: $roboto;
}

header {
  height: 7em;
  background-image: url('../img/logo_sm.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 90%;
  @media screen and (min-width: 640px) {
    height: 20em;
    margin-bottom: -3em;
    padding: 0;
    background-image: url('../img/flappy-bird.jpg');
    background-repeat: no-repeat;
    background-size: 100% 90%;
  }
  @media screen and (min-width: 1024px) {
    height: 7.5em;
    margin-bottom: -3em;
    padding: 0;
    background-image: url('../img/flappy-bird.jpg');
    background-size: 10%;
    background-repeat: repeat;
  }
}

nav {
  text-align: center;
  ul {
    list-style-type: none;
    margin: -1em auto 0 auto;
    padding: .5em .7em;
    background-color: $tan;
    li {
      display: inline-block;
      margin: 0;
      a {
        padding: .5em .9em;
        margin: 0 -0.1em;
        text-decoration: none;
        color: #000;
      }
    }
  }
  @media screen and (min-width: 640px) {
    ul {
      padding: 1em 1.5em;
      li {
        a {
          margin: 0 1em;
          padding: 2em 2em;
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    text-align: right;
    ul {
      padding: 1em 2em;
      li {
        a {
          margin: 0 1em;
          padding: 2em 0em;
          &:hover {
            color: $orange;
            text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
          }
        }
      }
    }
  }
}

section.intro {
  background-color: $baby-blue;
  margin: 0;
  border-bottom: 2px solid #fff;
  .logo_large {
    display: none;
  }
  h1 {
    font-size: 1.4em;
    margin: .5em;
    margin-top: 0;
    padding-top: .7em;
    line-height: 1.5em;
  }
  p {
    text-align: right;
    padding: 0 2em 2em 0;
    margin: 0;
  }
  @media screen and (min-width: 640px) {
    background-color: $turquoise;
  }
  @media screen and (min-width: 1024px) {
    background-color: $turquoise;
    .logo_large {
      display: block;
      margin: 0 auto;
    }
  }
}

section.mid-section {
  background-color: $green;
  border-bottom: 2px solid #fff;
  h1 {
    margin: 0;
    padding: .9em;
    font-size: 1.2em;
    display: inline-block;
  }
  span {
    margin: .7em 3em 0 0;
    padding: 0;
    height: 40px;
    float: right;
    width: 44px;
    border-radius: 50%;
  }
  //url('../img/bird_sprite.png') -88px 5px
  //url('../img/bird_sprite.png') -44px 5px
  #bird-flap {
    background: url('../img/bird_sprite.png') 2px 5px;
    background-size: 300%;
    background-repeat: no-repeat;
    &:hover {
      background: url('../img/bird_sprite.png') -88px 5px;
      background-size: 300%;
      background-repeat: no-repeat;
    }
  }
}

section.action {
  height: 20em;
  background-image: url('../img/pipes_bg.jpg');
  background-size: cover;
  text-align: center;
  h2 {
    margin: 0;
    font-size: 1.7em;
    padding-top: 4em;
    color: $yellow;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  }
  @media screen and (min-width: 640px) {
    background-position: 50% 20%;
    h2 {
      font-size: 3em;
      padding-top: 2.2em;
    }
    p {
      margin-top: 3.5em;
      font-size: 1.2em;
    }
  }
  @media screen and (min-width: 1024px) {
    background-position: 50% 20%;
    h2 {
      font-size: 3em;
      padding-top: 2.2em;
    }
    p {
      margin-top: 5.5em;
      font-size: 1.2em;
    }
  }
}

section.social {
  text-align: center;
  background-color: $tan;
  h2 {
    margin-top: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 2em;
    li {
      display: inline-block;
      margin: 0 .5em;
      a {
        color: blue;
      }
    }
  }
  @media screen and (min-width: 640px) {
    height: 10em;
    h2 {
      padding-top: 2em;
    }
    li a {
      margin: 3em;
    }
  }
  @media screen and (min-width: 1024px) {
    height: 10em;
    h2 {
      padding-top: 2em;
    }
    li a {
      margin: 3em;
    }
  }
}

footer {
  background-image: url('../img/game_over.jpg');
  background-size: 89%;
  background-position: 40%;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 13em;
    @media screen and (min-width: 1024px) {
      background-position: 50% 50%;
      background-size: 50%;
    }
}
